.App-wrapper {
  color: white;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "h h"
          "his c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  font-family: Arial, serif;
}

.App-wrapper-content{
  grid-area: c;
  background-color: rgb(13,17,23);
}

.App-wrapper-history{
  grid-area: his;
  background-color: rgb(13,17,23);
}
