.App-wrapper {
  color: white;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-areas:
          "h h"
          "his c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 100%;
}

.App-wrapper-content{
  grid-area: c;
}

.App-wrapper-history{
  grid-area: his;
}

.search-result-block{
  border-bottom: white;
  margin-bottom: 20px;
}
